
	<header id="main-header">
		<center>
		<a id="logo-header" href="/">
			<span class="site-name">Inicio</span>
		</a> <!-- / #logo-header -->
    </center>
		<nav>
			<ul>
				<li><a href="/"></a></li>
				<li><a href="/"></a></li>
				<li><a href="/"></a></li>
			</ul>
		</nav><!-- / nav -->

	</header><!-- / #main-header -->
<center>	